<div class='form-group col-md-6'>
	<label for='memberName'>姓名</label>
	<input type='text' class='form-control' id='memberName' placeholder='姓名'>
</div>
<div class='form-group col-md-6'>
	<label for='phone'>手機</label>
	<input type='text' class='form-control' id='phone' placeholder='手機'>
</div>
<div class='form-group'>
	<label for='memberEmail'>Email</label>
	<input type='email' class='form-control' id='memberEmail' placeholder='Email'>
</div>
<div class='form-group'>
	<label for='Password1'>密碼</label>
	<input type='password' class='form-control' id='Password1' placeholder='密碼'>
</div>
<div class='form-group'>
	<label for='Password2'>再次輸入密碼</label>
	<input type='password' class='form-control' id='Password2' placeholder='再次輸入密碼'>
</div>
<div class='form-group'>
	<label for='Address'>地址</label>
	<input type='text' class='form-control' id='Address' placeholder='地址'>
</div> 