{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<nav class="site-navbar">
	<div class="search-wrap">
		<div class="container">
			<a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
			<form action="#" method="post">
				<input type="text" class="form-control" placeholder="Search keyword and hit enter...">
			</form>
		</div>
	</div>

	<div class="container">
		<div class="d-flex align-items-center justify-content-between">
			<div class="logo">
				<div class="site-logo">
					<a href="index.html" class="js-logo-clone">Drughub</a>
				</div>
			</div>
			<div class="main-nav d-none d-lg-block">
				<nav class="site-navigation text-right text-md-center" role="navigation">
					<ul class="site-menu js-clone-nav d-none d-lg-block">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="shop.html">Store</a></li>
						<li class="has-children">
							<a href="#">Dropdown</a>
							<ul class="dropdown">
								<li><a href="#">Supplements</a></li>
								<li class="has-children">
									<a href="#">Vitamins</a>
									<ul class="dropdown">
										<li><a href="#">Supplements</a></li>
										<li><a href="#">Vitamins</a></li>
										<li><a href="#">Diet &amp; Nutrition</a></li>
										<li><a href="#">Tea &amp; Coffee</a></li>
									</ul>
								</li>
								<li><a href="#">Diet &amp; Nutrition</a></li>
								<li><a href="#">Tea &amp; Coffee</a></li>

							</ul>
						</li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">CoDroid Sans Monontact</a></li>
					</ul>
				</nav>
			</div>
			<div class="icons">
				<a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
				<script>

				</script>
				<a href="#" class="icons-btn d-inline-block bag sign_in_show">
					<span class="icon-sign-in uuu"></span>
					{% comment %} <span class="icon-shopping-bag"></span>
					<span class="number">2</span> {% endcomment %}
				</a>
				<a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
						class="icon-menu"></span></a>
			</div>
		</div>
	</div>
</nav>
{% endblock %}


{% block body %}
<div class="site-wrap">

	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
					<strong class="text-black">Contact</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-3"></div>
		<div class="col-9">

		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row">

				<!-- <div class="col-md-12">
					<h2 class="h3 mb-5 text-black">Get In Touch</h2>
				</div> -->
				<div class="col-3">
					<!-- <div class="p-3 p-lg-5 border"> -->
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list"
							href="#list-home" role="tab" aria-controls="home">個人資料</a>
						<a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list"
							href="#list-profile" role="tab" aria-controls="profile">Profile</a>
						<a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
							href="#list-messages" role="tab" aria-controls="messages">Messages</a>
						<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
							href="#list-settings" role="tab" aria-controls="settings">Settings</a>
					</div>
					<!-- </div> -->
				</div>
				<div class="col-md-9">
					<div class="p-3 p-lg-5 border">

						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="list-home" role="tabpanel"
								aria-labelledby="list-home-list">
								<div class="form-group row">
									<div class="col-md-6">
										<label for="nickname" class="text-black">暱稱 </label>
										<input type="text" class="form-control" id="nickname" name="nickname">
									</div>
									<div class="col-md-6">
										<label for="birth" class="text-black">生日 </label>
										<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input"
												data-target="#datetimepicker1" id="birth">
											<div class="input-group-append" data-target="#datetimepicker1"
												data-toggle="datetimepicker">
												<div class="input-group-text">
													<i class="fa fa-calendar">
														<span class="icon-calendar"></span>
													</i>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-6">
										<label for="height" class="text-black">身高（公分） </label>
										<input type="text" class="form-control" id="height" name="height">
									</div>
									<div class="col-md-6">
										<label for="weight" class="text-black">體重（公斤） </label>
										<input type="text" class="form-control" id="weight" name="weight">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="gender"" class=" text-black">公、母 </label>
										<select class="custom-select" id="gender">
											<option selected disabled>選擇性別</option>
											<option value="0">帶把的</option>
											<option value="1">帶孔的</option>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="address" class="text-black">地址</label>
										<input type="text" class="form-control" id="address" name="address">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="email" class="text-black">Email </label>
										<input type="email" class="form-control" id="email" name="email" placeholder="">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="phone" class="text-black">手機</label>
										<input type="text" class="form-control" id="phone" name="phone">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-lg-12">
										<button class="btn btn-primary btn-lg btn-block"
											id="user_profile_submit">儲存</button>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
								0.0
							</div>
							<div class="tab-pane fade" id="list-messages" role="tabpanel"
								aria-labelledby="list-messages-list">...</div>
							<div class="tab-pane fade" id="list-settings" role="tabpanel"
								aria-labelledby="list-settings-list">...</div>
						</div>
					</div>


				</div>
			</div>

		</div>
	</div>
</div>



<div class="site-section bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="text-white mb-4">Offices</h2>
			</div>
			<div class="col-lg-4">
				<div class="p-4 bg-white mb-3 rounded">
					<span class="d-block text-black h6 text-uppercase">New York</span>
					<p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="p-4 bg-white mb-3 rounded">
					<span class="d-block text-black h6 text-uppercase">London</span>
					<p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="p-4 bg-white mb-3 rounded">
					<span class="d-block text-black h6 text-uppercase">Canada</span>
					<p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
				</div>
			</div>
		</div>
	</div>

</div>


<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

				<div class="block-7">
					<h3 class="footer-heading mb-4">About Us</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio
						voluptates
						sed dolorum excepturi iure eaque, aut unde.</p>
				</div>

			</div>
			<div class="col-lg-3 mx-auto mb-5 mb-lg-0">
				<h3 class="footer-heading mb-4">Quick Links</h3>
				<ul class="list-unstyled">
					<li><a href="#">Supplements</a></li>
					<li><a href="#">Vitamins</a></li>
					<li><a href="#">Diet &amp; Nutrition</a></li>
					<li><a href="#">Tea &amp; Coffee</a></li>
				</ul>
			</div>

			<div class="col-md-6 col-lg-3">
				<div class="block-5 mb-5">
					<h3 class="footer-heading mb-4">Contact Info</h3>
					<ul class="list-unstyled">
						<li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
						<li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
						<li class="email">emailaddress@domain.com</li>
					</ul>
				</div>


			</div>
		</div>
		<div class="row pt-5 mt-5 text-center">
			<div class="col-md-12">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script> All rights reserved | This template is made
					with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
						class="text-primary">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
	</div>
</footer>
</div>
{% endblock %}